<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Salesforce Test Suite" parallel="none">
    <listeners>
        <listener class-name="com.fsc.listeners.TestListener"/>
    </listeners>

    <!-- <test name="Salesforce Login Tests">
        <classes>
            <class name="com.fsc.tests.SalesforceLoginTest"/>
        </classes>
    </test> -->

    <test name="Sales App Tests">
        <classes>
            <class name="com.fsc.tests.SalesAppTest"/>
        </classes>
    </test>
</suite>
